body {
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 0%;
}



* {
  box-sizing: border-box;
}

.meet {
  margin: 60px;
  font-family: "Staatliches", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  line-height: 0%;
  font-size: 60px;
  font-weight: 00;
  color: #151748;
}

.name {
  font-size: 22px;
  font-weight: 400;
  font-family: "Staatliches", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  color: rgb(255, 255, 255);
  line-height: 3;
  text-decoration-color: rgb(255, 255, 255);
  margin: 5px;
  display: inline;
  hyphens: manual;
  letter-spacing: normal;
  overflow-wrap: break-word;
  text-decoration-style: solid;
  text-decoration-thickness: auto;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  position: absolute;
}

.image_text {
  position: relative;
  display: block;
}

.position {
  color: rgb(178, 178, 196);
  margin: 5px;
  font-size: 14px;
  font-weight: 400;
  line-height: 26.5px;
  overflow-wrap: break-word;
  position: absolute;
}

input[type=text], input[type=password], select, input[type=email] {
  width: 70%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
  border-radius: 4px 4px 4px 4px;
}

input[type=text]:focus, input[type=password], input[type=email], select:focus {
  background-color: #ddd;
  outline: none;
  font-display: none;
}

.container {
  position: absolute;
  right: 0;
  top: 30%;
  left: 60%;
  overflow-x: hidden;
  word-wrap: break-word;
  background-color: rgb(255, 255, 255);
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "DM Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  height: 565.475px;
  line-height: 30px;
  width: 368.45px;
  border-top: 5px;
  border-style: solid;
  border-left: none;
  border-right: none;
  border-bottom: none;
  border-color: #fd387c;
}

.option {
  box-sizing: border-box;
  color: rgb(105, 106, 135);
  cursor: default;
  display: block;
}

.btn {
  background-color: rgb(253, 76, 102);
  color: white;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  background-image: linear-gradient(to right, #fd8a66 0%, #fd4c72 49%, #fd387c 85%, #fd2384 100%);
  padding: 1.065rem 3.5rem;
  font-size: 1.75rem;
  line-height: 1.875;
  border-radius: 50px;
  line-height: 30px;
}

.btn:hover {
  opacity: 1;
}

.grid-container {
  display: grid;
  grid-gap: 10px;
  background-color: white;
  margin: 60px;
  overflow-x: hidden;
}

.grid-item {
  flex-direction: column;
  justify-content: flex-end;
  background-color: black;
  display: flex;
  height: 380px;
  object-fit: cover;
  width: 330px;
  color: blue;
}

.grid-item img {
  height: 100%;
  width: 100%;
  opacity: .4;
}

.grid-item>img:hover {
  opacity: 1;
  color: transparent;
}
.grid-item:hover .name,.grid-item:hover .position{
  display: none;
}

.row2:hover .day_events,.row3:hover .day_events,.row5:hover .day_events,.row6:hover .day_events{
  color:#fd387c;
}

.item5 {
  grid-column: 3 / span 2;
  grid-row: 1 /span 2;
  /* background-image: url('https://demo2wpopal.b-cdn.net/spker/wp-content/uploads/2019/07/speaker-3.jpg'); */
  height: 770px;
  width: 680px;
}

.item6 {
  grid-column: 1 / span 2;
  grid-row: 3 /span 2;
  /* background-image:url('https://demo2wpopal.b-cdn.net/spker/wp-content/uploads/2019/07/speaker-5.jpg'); */
  height: 770px;
  width: 680px;
}

.bg-img {
  /* background-image: url("https://demo2wpopal.b-cdn.net/spker/wp-content/uploads/2019/07/rev_sliderhome2_1.jpg"); */
  display: flex;
  height: 880px;
  align-items: end;
  text-align: center;
}

.centered {
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);
}

.first_text,.second_text {
  z-index: 6;
  font-size: 86px;
  line-height: 86px;
  font-weight: 400;
  color: rgb(255, 255, 255);
  letter-spacing: 0px;
  font-family: Staatliches;
  text-transform: uppercase;
  margin:0px;
}

.third_text {
  z-index: 8;
  font-size: 34px;
  line-height: 34px;
  font-weight: 400;
  color: rgb(253, 76, 102);
  letter-spacing: 0px;
  font-family: Staatliches;
  margin:0px;
}

.fourth_text {
  color: white
}

.Explore {
  z-index: 10;
  font-size: 10px;
  line-height: 47px;
  font-weight: 500;
  color: rgb(255, 255, 255);
  font-family: "DM Sans";
  text-transform: uppercase;
  border-radius: 30px;
  box-sizing: border-box;
  cursor: pointer;
  text-align: inherit;
  padding: 0px 43px;
  letter-spacing: 0px;
  opacity: .8;
  background-image: linear-gradient(to right, #fd8a66 0%, #fd4c72 49%, #fd387c 85%, #fd2384 100%);
  border: 0;
}

.Explore:hover {
  opacity: 1;
}

.tab {
  overflow: hidden;
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-bottom: 1px solid #eaeaea;
}

.tab button {
  background-color: inherit;
  float: left;
  border: 1px;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  border-left-color: rgb(234, 234, 234);
  border-bottom-color: rgb(234, 234, 234);
  border-left-style: solid;
  border-left-width: 1px;
  border-right-color: rgb(234, 234, 234);
  border-right-style: solid;
  border-right-width: 1px;
  box-sizing: border-box;
  color: rgb(105, 106, 135);
  cursor: pointer;
  display: block;
  font-family: "DM Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  height: 127.6px;
  padding-bottom: 35px;
  padding-left: 35px;
  padding-right: 35px;
  padding-top: 35px;
  position: relative;
}

.tab button.active {
    background-color:white;
    border-top: 5px;
    border-style: solid;
    border-top-color: #fd387c;
}

.schedule {
  box-sizing: border-box;
  color: rgb(0, 0, 0);
  cursor: pointer;
  display: block;
  font-family: Staatliches, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 30px;
  font-weight: 600;
  hyphens: manual;
  line-height: 36px;
  max-width: 100%;
  overflow-wrap: break-word;
  text-align: center;
  text-rendering: auto;
  text-size-adjust: 100%;
  text-transform: uppercase;
  width: 208px;
  -webkit-font-smoothing: antialiased;
}

.schedule_date {
  color: rgb(105, 106, 135);
  cursor: pointer;
  display: block;
  font-family: Staatliches, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  hyphens: manual;
  line-height: 21.6px;
  max-width: 100%;
  overflow-wrap: break-word;
  text-align: center;
  text-transform: uppercase;
  width: 208px;
}

.row1,.row4 {
  border-bottom-color: rgb(105, 106, 135);
  border-bottom-style: dashed;
  border-bottom-width: 1px;
  color:  #fd387c;
  display: flex;
  font-family: "DM Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  overflow-wrap: break-word;
  padding-bottom: 40px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 40px;
  position: relative;
}

.row2,.row3,.row5,.row6 {
  border-bottom-color: rgb(105, 106, 135);
  border-bottom-style: dashed;
  border-bottom-width: 1px;
  color: rgb(105, 106, 135);
  display: flex;
  font-family: "DM Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  overflow-wrap: break-word;
  padding-bottom: 40px;
  padding-top: 50px;
  position: relative;
}

.row2:hover {
  text-decoration-color:#fd387c
}

.left {
  box-sizing: border-box;
  color: rgb(105, 106, 135);
  display: block;
  align-content: flex-start;
  font-family: "DM Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  hyphens: manual;
  line-height: 30px;
  overflow-wrap: break-word;
  padding-right: 30px;
  text-rendering: auto;
  text-size-adjust: 100%;
  width: 200px;
  -webkit-font-smoothing: antialiased;
}

.time_schedule {
  box-sizing: border-box;
  color: rgb(253, 76, 102);
  display: flex;
  font-family: "DM Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 13px;
  font-weight: 400;
  hyphens: manual;
  line-height: 24.375px;
  overflow-wrap: break-word;
  text-rendering: auto;
  text-size-adjust: 100%;
  width: 170px;
  -webkit-font-smoothing: antialiased;
}

.right {
  box-sizing: border-box;
  color: rgb(105, 106, 135);
  display: block;
  align-content: center;
  font-family: "DM Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  hyphens: manual;
  line-height: 30px;
  overflow-wrap: break-word;
  padding-right: 50px;
  position: relative;
  text-rendering: auto;
  flex-grow:1;
}

.title_schedule {
  color: rgb(253, 76, 102);
  display: center;
  font-family: Staatliches, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 23px;
  line-height: 27.6px;
  margin-top: 0px;
  max-width: 100%;
  overflow-wrap: break-word;
  padding-top: 3px;
  width: 520px;
}

.day_events{
  color: black;
  display: center;
  font-family: Staatliches, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 23px;
  line-height: 27.6px;
  margin-top: 0px;
  max-width: 100%;
  overflow-wrap: break-word;
  padding-top: 3px;
}

.day_events:hover{
  color:rgb(253, 76, 102);
}

.speaker_link:hover{
  color:rgb(253, 76, 102);
}

.tabcontent{
  margin:60px;
  padding: 70px;
  padding-top: 0px;
  display: flex;
  align-items: center;
}

.speakers{
  display: inline;
}
.image{
  height:880px;
}

.speaker_link{
  color: rgb(0, 0, 0);
  cursor: pointer;
  display: inline;
  font-family: "DM Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 24.375px;
  text-decoration-line: none;
}

.small_image{
  height:40px;
  width:40px;
  border-radius: 50px;
}

.image1{
  display:inline-block;
  margin-right: 10px;
}

.panel {
  margin-top: 10PX;
  display: none;
  overflow: hidden;
  box-shadow: none;
}

.accordion {
  position: absolute;
  right: -5px;
  top: 1px;
  line-height: 2;
  width: 20px;
  text-align: right;
  cursor: pointer;
  transition: .4s;
  background-color: white;
  border: none;
  font-size: x-large;
}

.fa{
  color:#fd387c;
}
.speaker-details{
  display:flex;
}
span{
  width:12%;
}
.small_speaker_images{
  padding-top: 10px;

}
.location_schedules{
  display: flex;
}
.time_schedules{
  display: flex;
}

.navbar-dark .navbar-brand {
  color: black;
}
@media (max-width: 765px) 

 { 
   .row1,.row2,.row3,.row4,.row5,.row6{
     display: flex;
     padding: 0 30;
     flex-direction: column;
   }
   .left{
    margin-bottom: 15px;
    padding-right: 0;
   }
   .right{
    padding-right: 10px;
   }

   .tab{
     display: flex;
     flex-direction: column;
     justify-content: center;
     margin: 12px;
   }
   .day_events{
    font-size: 1.35rem;
}
.schedule{
  width:100%;
}
.schedule_date{
  width:100%;
}
.tabcontent{
  margin: 10px;
  padding: 22px;
  padding-top: 0px;
  display: block;
  /* width:100%; */
  align-items: center;
}
.small_speaker_images {
  padding-top: 4px;
}
.grid-container {
  display: flex;
  grid-gap: 10px;
  background-color: white;
  margin: 0px;
  padding: 10px;
  overflow-x: hidden;
  flex-direction: column;
  width: 100%;
  padding-bottom: 30px;
}
.grid-item{
  height: 100%;
  width:100%;
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.first_text, .second_text {
  font-size:34px;
  line-height: 50px;
}
.bg-img{
  height:100%;
  display: block;
}
.meet{
  font-size: 38px;
  line-height: 0px;
  margin: 0px;
  margin-bottom: 35px;
  padding-left:12px;
}
.image{
  height:564px;
}
.container{
  position: inherit;
  height:100%;
  padding-bottom:35px ;
  width:100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.accordion {
  position: absolute;
  right: 12px;
  top: -5px;
  width:0px;
}
.third{
  padding-bottom: 25px;
}
   }
   @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
}
.wrapper{
  background: #171c24;
  position: absolute;
  width: 100%;
}
.wrapper nav{
  background-color: white;
    width: 100%;
    display: flex;
    z-index: 1;
    position: fixed;
    align-items: center;
    justify-content: center;
    height: 80px;
    padding-left: 100px;
    font-size: 12px;
    font-weight: 200;
}
nav .content{
  display: flex;
  align-items: center;
}
nav .content .links{
  margin-left: 80px;
  display: flex;
}
.content .logo a{
  color: #fff;
  font-size: 30px;
  font-weight: 600;
}
.content .links li{
  list-style: none;
  line-height: 70px;
}
.content .links li a,
.content .links li label{
  color: black;
  font-size: 18px;
  font-weight: 500;
  padding: 9px 17px;
  border-radius: 5px;
  transition: all 0.3s ease;
}
.content .links li label{
  display: none;
}
.content .links li a:hover,
.content .links li label:hover{
  color: rgb(253, 76, 102);
}
.wrapper .search-icon,
.wrapper .menu-icon{
  color: #fff;
  font-size: 18px;
  cursor: pointer;
  line-height: 70px;
  width: 70px;
  text-align: center;
}
.wrapper .menu-icon{
  display: none;
}
.wrapper #show-search:checked ~ .search-icon i::before{
  content: "\f00d";
}

.wrapper .search-box{
  position: absolute;
  height: 100%;
  max-width: calc(100% - 50px);
  width: 100%;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}


.wrapper input[type="checkbox"]{
  display: none;
}

/* Dropdown Menu code start */
.content .links ul{
  position: absolute;
  background: white;
  top: 80px;
  z-index: -1;
  opacity: 0;
  visibility: hidden;
}
.content .links li:hover > ul{
  top: 70px;
  opacity: 1;
  visibility: visible;
  transition: all 0.3s ease;
}
.content .links ul li a{
  display: block;
  width: 100%;
  line-height: 30px;
  border-radius: 0px!important;
}
.content .links ul ul{
  position: absolute;
  top: 0;
  right: calc(-100% + 8px);
}
.content .links ul li{
  position: relative;
}
.content .links ul li:hover ul{
  top: 0;
}

/* Responsive code start */
@media screen and (max-width: 1250px){
  .wrapper nav{
    max-width: 100%;
    padding: 0 20px;
  }
  nav .content .links{
    margin-left: 30px;
  }
  .content .links li a{
    padding: 8px 13px;
  }
  .wrapper .search-box{
    max-width: calc(100% - 100px);
  }
  .wrapper .search-box input{
    padding: 0 100px 0 15px;
  }
}

@media screen and (max-width: 900px){
  .wrapper .menu-icon{
    display: block;
  }
  .wrapper #show-menu:checked ~ .menu-icon i::before{
    content: "\f00d";
  }
  nav .content .links{
    display: block;
    position: fixed;
    background: white;
    height: 100%;
    width: 100%;
    top: 70px;
    left: -100%;
    margin-left: 0;
    max-width: 350px;
    overflow-y: auto;
    padding-bottom: 100px;
    transition: all 0.3s ease;
  }
  nav #show-menu:checked ~ .content .links{
    left: 0%;
  }
  .content .links li{
    margin: 15px 20px;
  }
  .content .links li a,
  .content .links li label{
    line-height: 40px;
    font-size: 20px;
    display: block;
    padding: 8px 18px;
    cursor: pointer;
  }
  .content .links li a.desktop-link{
    display: none;
  }

  /* dropdown responsive code start */
  .content .links ul,
  .content .links ul ul{
    position: static;
    opacity: 1;
    visibility: visible;
    background: none;
    max-height: 0px;
    overflow: hidden;
  }
  .content .links #show-home:checked ~ ul,
  .content .links #show-schedules:checked ~ ul,
  .content .links #show-speakers:checked ~ ul,
  .content .links #show-Pages:checked ~ ul,
  .content .links #show-items:checked ~ ul{
    max-height: 100vh;
  }
  .content .links ul li{
    margin: 7px 20px;
  }
  .content .links ul li a{
    font-size: 18px;
    line-height: 30px;
    border-radius: 5px!important;
  }
}

@media screen and (max-width: 400px){
  .wrapper nav{
    padding: 0 10px;
  }
  .content .logo a{
    font-size: 27px;
  }
  .wrapper .search-box{
    max-width: calc(100% - 70px);
  }
  .wrapper .search-box .go-icon{
    width: 30px;
    right: 0;
  }
  .wrapper .search-box input{
    padding-right: 30px;
  }
}

.dummy-text{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  z-index: -1;
  padding: 0 20px;
  text-align: center;
  transform: translate(-50%, -50%);
}
.dummy-text h2{
  font-size: 45px;
  margin: 5px 0;
}
.navIcon{
  color:black;
}


